<h2>Your account:</h2>
<div class='profile'>
    <% if current_user.avatar.attached? %>
        <img class='profile-avatar img-thumbnail' src='<%=(url_for(current_user.avatar)) %>'></br>
    <% end %>
    <div class='profile-info'>
        <span>First Name:</span>
        <h3><%= current_user.first_name %></h3>
        <span>Last Name:</span>
        <h3><%= current_user.last_name %></h3>
        <span>Email:</span>
        <h3><%= current_user.email %></h3>
    </div>
</div>
<hr>

<h1>Chat rooms:</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the RailsChatTutorial!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>