<h2>Edit Post</h2>
<%= form_for :post, url: post_path(@post), method: :patch do |field| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |error| %>
            <div class='alert alert-danger'>
                <%= error %>
            </div>
        <% end %>
    <% end %>
    <span>
        Title
        <%= field.text_field(:title, { :class => 'form-control' })  %>
    </span>
    <span>
        Content
        <%= field.text_area(:content, { :class => 'form-control' }) %>
    </span>
    <span>
        <%= field.submit({ :class => 'btn btn-dark' }) %>
    </span>
<% end %>