<!DOCTYPE html>
<html>
  <head>
    <title>Mr.Ruby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    <script src="https://kit.fontawesome.com/a69351f995.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
  </head>

  <body>
  <div class="header d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><i class="fas fa-gem"></i>Mr.Ruby</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">HOME</a>
    <a class="p-2 text-dark" href="/about">ABOUT</a>
    <% if user_signed_in? %>
    <span>Hello,</span><span><%= link_to current_user.first_name, me_path %></span>
    <% if current_user.avatar.attached? %>
      <img class='img-fluid img-thumbnail avatar' src='<%=(url_for(current_user.avatar)) %>'>
    <% end %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Sign in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
  </nav>
</div>
<div class='container'>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <%= yield %>
</div>

  </body>
</html>
